html
    head
        title Number Quiz Lab
        link(rel='stylesheet', href='style.css')
    body
        div(class="container")
            fieldset
                legend Number Quiz Lab
                h1 Number Quiz
                p The current score is #{score}
                p Guess the next number in the sequence
                p(class="highlight") #{questions.sequence}
                form(class="form", action="/", method="POST")
                    div(class="form-body")
                        input(type="hidden", value=step, name="step")
                        input(type="hidden", value=score, name="score")
                    div(class="form-body")
                        label(class="form-label", for="answer") Your answer:
                        input(class="from-input", name="answer" size="12" type="number" steps="1")
                    div(class="form-body")
                        span(class="form-label")
                        input(type="submit" class="btn" value="Submit")