html
    head
        title Number Quiz Lab
        link(rel='stylesheet', href='style.css')
    body
        div(class="container")
            fieldset
                legend Completed
                h1 Number Quiz
                h3 Your current score is #{score}
                p You have completed The Number Quiz, with a score of 
                    span(class="highlight") #{score} out of 5.